
        .icon {
            background: url('../../assets/images/sprites/sprite-f2406d40.svg');
        }
        .no-svg .icon {
            background: url('../../assets/images/sprites/sprite-f2406d40.png');
        }
    
    .icon--fb {
        width: 488.39px;
        height: 488.39px;
        background-position: 0 0;
    }
    
    .icon--g {
        width: 488.39px;
        height: 488.39px;
        background-position: 99.95497431489326% 0;
    }
    
    .icon--tw {
        width: 488.39px;
        height: 488.39px;
        background-position: 0 99.95497431489326%;
    }
